/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table{
  border: black solid;
  position: relative;
  left: 20px;
  top: 20px;

} */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 70%;
}

table{
  margin: 6rem auto;
  /* border-radius: 2rem; */
  border: 1rem hidden #443c68;
  /* border-collapse: collapse; */
  box-shadow: 0 0 0 1px black;
  overflow: hidden;
  max-width: 80rem;
  
}

li, p, a, td{
  font-size: 1.4rem;
  line-height: 1.5;
}

thead{
  font-size: 1.7rem;
  background-color: #443c68;
  color: antiquewhite;
}

th,td {
  border: 1px solid #443c68 ;
  /* min-width: 30rem; */
  padding: 1.3rem;
  line-height: 1.6;
}
